researchs/datasets/*
researchs/datasets_bilal/*
researchs/runs/*
researchs/fish-ident/*
researchs/fish-pYTORCH-11/*
researchs/Fish-Species-Classification-1/*
datasets/*
/datasets/*
yolo11n.pt
yolov8n-seg.pt